<div>
  <div class="search">
    <label>
      <input type="text" #search>
    </label>
    <button (click)="getList(search.value)">Поиск</button>
  </div>
  <div
    *ngFor="let employee of employees$ | async as employees"
    class="item"
    [class.selected]="employee.id == selected?.id"
    (click)="selected = employee"
  >
    {{employee.id + ': ' + employee.login}}
  </div>
  <div class="buttons">
    <button type="button" (click)="selected = {}">
      Новый
    </button>
  </div>
</div>
<div>
  <app-employee
    *ngIf="selected"
    [employee]="selected"
    [departments]="departments$ | async"
    [salaries]="salaries$ | async"
    #emploee
  >
    <div class="buttons">
      <button *ngIf="!selected.id" type="button" (click)="save(emploee.model)">Сохранить</button>
      <button *ngIf="selected.id" type="button" (click)="update(emploee.model)">Обновить</button>
      <button type="button" (click)="delete(emploee.model)">Удалить</button>
      <button type="button" (click)="selected = null">Отменить</button>
    </div>
  </app-employee>
</div>
