:host {
  display: flex;
  & > * {
    flex-grow: 1;
    max-width: 50%;
  }
}

.search {
  margin-bottom: 10px;
}

.item {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  &.selected {
    background-color: darkgray;
  }
}

.buttons {
  text-align: center;

  & button {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }

}
