<div>
  <form #form="ngForm">
    <div class="field">
      <label>
        Логин
        <input type="text" name="login" required [(ngModel)]="model.login"/>
      </label>
    </div>
    <div class="field">
      <label *ngIf="!model.id">
        Пароль
        <input type="text" name="password" required [(ngModel)]="model.password"/>
      </label>
    </div>
    <div class="field">
      <label>
        Имя
        <input type="text" name="firstName" required [(ngModel)]="model.firstName"/>
      </label>
    </div>
    <div class="field">
      <label>
        Фамилия
        <input type="text" name="lastName" required [(ngModel)]="model.lastName"/>
      </label>
    </div>
    <div class="field">
      <label>
        Отчество
        <input type="text" name="middleName" required [(ngModel)]="model.middleName"/>
      </label>
    </div>
    <div class="field">
      <label>
        Подразделение
        <select [compareWith]="byId" [(ngModel)]="model.department" name="department">
          <option *ngFor="let department of departments" [ngValue]="department">{{department.name}}</option>
        </select>
      </label>
    </div>
    <div class="field">
      <label>
        Ставка
        <select [compareWith]="byId" [(ngModel)]="model.position" name="position">
          <option *ngFor="let salary of salaries" [ngValue]="salary">{{salary.name + " " + salary.salary}}</option>
        </select>
      </label>
    </div>
    <ng-content></ng-content>
  </form>
</div>
