<div>
  <div
    *ngFor="let department of departments$ | async as employees"
    class="item"
    [class.selected]="department.id == selected?.id"
    (click)="selected = department"
  >
    {{department.id + ': ' + department.name}}
  </div>
  <div class="buttons">
    <button type="button" (click)="selected = {}">
      Новый
    </button>
  </div>
</div>
<div>
  <app-department
    *ngIf="selected"
    [model]="selected"
    #department
  >
    <div class="buttons">
      <button *ngIf="!selected.id" type="button" (click)="save(department.model)">Сохранить</button>
      <button *ngIf="selected.id" type="button" (click)="update(department.model)">Обновить</button>
      <button type="button" (click)="delete(department.model)">Удалить</button>
      <button type="button" (click)="selected = null">Отменить</button>
    </div>
  </app-department>
</div>
